build
.idea
.gradle
/Bin/Java/commons-io.jar
/Bin/Java/enroll-finger-from-scanner.jar
/Bin/Java/javax.servlet-api.jar
/Bin/Java/jetty-io.jar
/Bin/Java/gson.jar
/Bin/Java/jetty-util.jar
/Bin/Java/jetty-security.jar
/Bin/Java/jetty-server.jar
/Bin/Java/jetty-client.jar
/Bin/Java/jetty-webapp.jar
/Bin/Java/jetty-xml.jar
/Bin/Java/jetty-http.jar
/Bin/Java/jetty-servlet.jar
/Bin/Java/tutorials-utils.jar
/Bin/Java/websocket-common.jar
/Bin/Java/slf4j-api.jar
/Bin/Java/websocket-api.jar
/Bin/Java/spark-core.jar
/Bin/Java/websocket-client.jar
/Bin/Java/slf4j-simple.jar
/Bin/Java/websocket-servlet.jar
/Bin/Java/websocket-server.jar
/neurotec-biometric-component-installer.iml
